body {
  font-family: sans-serif;
  background-image: url(./images/pexels-pixabay-326281.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /* width: 100vw;
  height: auto; */
}
#headingFav {
  text-align: center;
  margin-left: 200px;
  margin-top: 50px;
  color: white;
  font-family: sans-serif;
}
#favDiv {
  margin-top: 33px;
  color: white;
  position: absolute;
  right: 262px;
}
.mealImg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 50px;
}
.mealName {
  display: inline-block;
  padding-top: 15px;
}
.cross {
  display: inline-block;
  /* color: white; */
  background-color: transparent;
  border: none;
  margin-left: 20px;
  position: absolute;

  top: 20px;
}

.createDiv {
  position: relative;
}
